@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Proyecto Migrante</h1>
     <h1 class="display-4">Menu para Gerencia del Proyecto</h1>
    <a asp-page="MenuMigrantes/">Menu para Migrantes</a>
    <br>
    <a asp-page=\Entidades>Menu para Entidades Colaboradoras</a>
    <br>
    <a asp-page=\Gerencia>Menu para Gerencia del Proyecto</a>
<br>


</div>
