@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Proyecto Migrante</h1>
    <h1 class="display-4">Menu para Entidades Colaboradoras</h1>

    <a asp-page=RegistrarEntidad>Registrar Entidad</a>
    <br>
    <a asp-page=BuscarEntidad>Buscar Entidad</a>
    <br>
    <a asp-page=XXXXXXXX>Otros...</a>
<br>


</div>
