@page
@model Migrante.App.Frontend.Pages.consultarModel
@{
    ViewData["Title"] = "Listas";
}

<h1>consulta</h1>

Documento solicitado: @Model.docu

<br>

@{
    Console.WriteLine("Dentro de la pagina");
    
    
}

<!--
    Model.personaMigrante.nombre
-->

