@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Proyecto Migrante</h1>

    <a href=asp-page="Inicio">Menu para Migrantes (En Construccion)</a>
    <br>
    <a href="/Entidades" >Menu para Entidades Colaboradoras</a>
    <br>
    <a href="/Gerencia">Menu para Gerencia del Proyecto</a>
<br>


</div>
