@page
@model MyApp.Namespace.MigranteNoEncontradoModel
@{
}



<STRONG>
    ERROR NO SE ENCONTRÓ UN MIGRANTE QUE CORRESPONDA A ESE NUMERO DE DOCUMENTO
</STRONG>

<a asp-page="BuscarPersona">Volver a intentar</a>

