@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Esta es una página experimental.  Cualquier dato privado que se introduzca puede quedar expuesto !!!!</p>

